/* *{
    margin: 0;
    padding: 0;
} */
.pattern {
    background-color: blue;
    background-size: cover;
    height: 50px;
}
h1 {
    margin-bottom: 0;
}
.subtitle {
    color: rgb(156, 146, 146);
}
#lightblue {
    color: rgb(21, 223, 223);
}
.text-yellow{
    background-color: yellowgreen;
}
table{
    display: block;

}
.first{
    background-color: blue;
    color: white;
    display: inline-block;
}
.row {
    display: inline-block;
    height: 50px;
} 
.space {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}
.lightblue {
    background-color: aqua;
}
.grey {
    color: rgb(156, 146, 146);
}
.photo-1 {
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: 300px;
    height: 200px;
    background-image: url(./img/monitor.jpg);
    background-repeat: no-repeat;
    margin-bottom: 10px;
}
.photo-2 {
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: 300px;
    height: 200px;
    background-image: url(./img/graph.jpg);
    background-repeat: no-repeat;
    margin-bottom: 10px;
}
.px {
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
}